html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #0779d6;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    position: relative; 
}

header h1 {
    font-size: x-large;
    margin: 0;
}

header h1 a {
    text-decoration: none;
    color:#fff
}

header .login-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-decoration: none;
    background-color: #555;
    padding: 10px 15px;
    border-radius: 5px;
}

header .login-button:hover {
    background-color: #777;
}

#nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 1rem; 
}

nav ul li {
    margin: 0 10px; 
}

nav ul li a img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s;
}

nav ul li a img:hover {
    transform: scale(1.1);
}

section {
    padding: 2rem;
    text-align: center;
    flex-grow: 1;
}

footer {
    background-color: #053a66;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: relative;
}
